# {{ ansible_managed }}

[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
old_passwords=1
max_allowed_packet=32M

## Cache
thread-cache-size = 1024
table-open-cache = 100000
table-definition-cache = 512
#

### Storage Engines
default-storage-engine = InnoDB
### MyISAM
key-buffer-size = 64M
myisam-sort-buffer-size = 128M
### InnoDB
innodb-data-home-dir=/var/lib/mysql
innodb-data-file-path=ibdata1:512M:autoextend
innodb-buffer-pool-size = 512M
innodb-additional-mem-pool-size= 128M
innodb-log-files-in-group = 2
innodb-log-file-size = 64M
innodb-log-buffer-size = 16M
innodb-thread-concurrency = 7
innodb-file-per-table = 1
innodb-flush-method = O_DIRECT
innodb-support-xa = 0
innodb_flush_log_at_trx_commit = 0
innodb_doublewrite = true

## Replication
server-id = 11
log-bin = bin-log
log-bin-index = bin-log.index
relay-log = relay-log
relay-log-index = relay-log.index
expire-logs-days = 5
binlog-format = ROW

### Logging
#general_log = 1
#general_log_file = /var/log/mysqld/mysqld.log
#log-output = FILE
slow-query-log = 1
slow-query-log-file = /var/log/mysqld_slow_queries.log
long-query-time = 1000
log-queries-not-using-indexes = 1

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
